#chess_table td {width: 3em; height:3em;
    border:1px solid black;text-align:center;}
#chess_table {border-collapse: collapse;}

td.B_square {background-color:#DDD;} 
td.W_square {background-color:#FFF;}

IMG.piece {width: 2.1em; height:2.8em;} 

td.pmove {border:3px solid blue; background-color:yellow;}
td.tomove {border:3px solid blue; background-color:blue;}
